<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wombles</title>
  </head>
  <body>
    {{#each data}}
    {{name}} is wearing {{outfit}}
    <br>
    {{/each}}
    <br>
    <a href="/"><button>back</button></a>
  </body>
</html>
