<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <title>Womble Outfits</title>
  </head>
  <body>
    <h1>What is each Womble wearing?</h1>
    {{#each data}}
    {{name}} is wearing {{outfit}}
    <br>
    {{/each}}
    <br>
    <a href="/"><button>back</button></a>
  </body>
</html>
