<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wombles</title>
  </head>
  <body>
    {{#each data}}
    {{name}} needs to pick-up {{trash}}
    <br>
    {{/each}}
  </body>
</html>
